/* -------------------- Indexed app -------------------- */

/* ------------------------------------------------------------
  Normalize css minified
------------------------------------------------------------ */  
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box}*,:after,:before {box-sizing:inherit;margin:0;padding:0}article,aside,footer,header,main,nav,section{display:block}a{background-color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}

/* ------------------------------------------------------------
  Global styles
------------------------------------------------------------ */  
body {
  background-image: linear-gradient(220deg, #abecd6 0%, #fbed96 100%);
  font: 400 113% 'Roboto', sans-serif;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

h1 {
  margin-bottom: 1.5em;
}

a:link {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.5s ease;
}

a:visited,
a:hover,
a:active {
  background: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------
  App styles
------------------------------------------------------------ */  

.content {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 1300px;
  min-width: 750px;
  min-height: 400px;
  width: 80%;
}

/* Buttons styles */
.content__btn-list {
  background: rgba(0, 0, 0, 0.3);
  list-style-type: none;
}

.content__btns {
  color: white;
  display: block;
  font-weight: 500;
  padding: 1em 2em;
}

/* Table styles */
.content__customer-data {
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex: 2;
  flex-direction: column;
}

#data {
  border-collapse: collapse;
  width: 100%;
}

#data caption,
.content__heading {
  font-weight: 700;
  background: white;
}

#data th {
  background: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

#data caption,
#data th,
#data td,
.content__heading {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  text-align: left;
  padding: 1em;
}

.content__heading,
.content__inputs {
  width: 100%;
}

/* Form styles */

.content__inputs {
  padding: 1em;
}

.content__inputs label,
.content__inputs input {
  display: block;
}

.content__inputs label {
  padding-bottom: 1.2em;
}

.content__inputs input {
  width: 60%;
  padding: 0.6em;
  margin-bottom: 1.7em;
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.content__inputs input:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.content__inputs button {
  padding: 0.5em 1em;
  font-size: inherit;
  font-family: inherit;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.content__inputs button:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Delete button link styles */
.deleteBtn:link {
  padding: 1em;
  color: black;
  font-weight: 700;
  border-bottom: none;
}

.deleteBtn:hover {
  background: transparent;
  color: red;
}

/* ------------------------------------------------------------
  Media queries styles
------------------------------------------------------------ */  
@media screen and (max-width: 1200px) {
  .content {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .content__btn-list {
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    text-align: center;
  }

  .content {
    min-width: 0;
  }

  #data, #data thead, #data tbody, #data th, #data td, #data tr, #data caption { 
    display: block; 
  }

  #data caption {
    text-align: center;
  }

  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { 
    border-bottom: 2px solid rgba(0, 0, 0, 1); 
  } 
  
  #data td { 
    position: relative;
    padding-left: 50%; 
  }

  #data tr td:nth-child(even) {
    background: rgba(0, 0, 0, 0.15);
  }
    
  td:before { 
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45%; 
    padding-right: 20px; 
    white-space: nowrap;
  } 

/* Label the data */
  td:before { 
    font-weight: 500;
  }

  td:nth-of-type(1):before { content: "ID"; }
  td:nth-of-type(2):before { content: "Name"; }
  td:nth-of-type(3):before { content: "Email"; }
  td:nth-of-type(4):before { content: "Date"; }
  td:nth-of-type(5):before { content: "Remove"; }

  .deleteBtn:link {
    padding-left: 0.2em;
  }
}

@media screen and (max-width: 610px) {
  body {
    font-size: 100%;
  }

  .content {
    width: 100%;
  }

  .content__btn-list {
    flex-direction: column;
  }

  .content__btns {
    padding: 1em 1em;
  }

  #data td { 
    padding-left: 35%; 
  }

  td:before { 
    top: 18px;
    left: 20px;
    width: 35%;
  }
}

